services:

#* MONGODB CONFIGDB
  configdb-replica0:
    container_name: configdb-replica0
    build:
      context: mongod
    command: mongod -f /etc/mongod.conf --configsvr --replSet configdb
    volumes:
      - ./mongod/mongod.conf:/etc/mongod.conf
      - configdb-data-replica0:/data/db
    networks:
      internalnetwork:
        aliases:
          - configdb-replica0
    environment:
      - REPSET_NAME=configdb
      - DO_INIT_REPSET=true
    expose:
      - "27017"

  configdb-replica1:
    container_name: configdb-replica1
    build:
      context: mongod
    command: mongod -f /etc/mongod.conf --configsvr --replSet configdb
    volumes:
      - ./mongod/mongod.conf:/etc/mongod.conf
      - configdb-data-replica1:/data/db
    networks:
      internalnetwork:
        aliases:
          - configdb-replica1
    environment:
      - REPSET_NAME=configdb
    expose:
      - "27017"

#* MONGODB SHARD0
  shard0-replica0:
    container_name: shard0-replica0
    build:
      context: mongod
    command: mongod -f /etc/mongod.conf --shardsvr --replSet shard0
    volumes:
      - ./mongod/mongod.conf:/etc/mongod.conf
      - shard0-data-replica0:/data/db
    networks:
      internalnetwork:
        aliases:
          - shard0-replica0
    environment:
      - REPSET_NAME=shard0
      - DO_INIT_REPSET=true
    expose:
      - "27017"

  shard0-replica1:
    container_name: shard0-replica1
    build:
      context: mongod
    command: mongod -f /etc/mongod.conf --shardsvr --replSet shard0
    volumes:
      - ./mongod/mongod.conf:/etc/mongod.conf
      - shard0-data-replica1:/data/db
    networks:
      internalnetwork:
        aliases:
          - shard0-replica1
    environment:
      - REPSET_NAME=shard0
    expose:
      - "27017"

#* MONGODB SHARD1
  shard1-replica0:
    container_name: shard1-replica0
    build:
      context: mongod
    command: mongod -f /etc/mongod.conf --shardsvr --replSet shard1
    volumes:
      - ./mongod/mongod.conf:/etc/mongod.conf
      - shard1-data-replica0:/data/db
    networks:
      internalnetwork:
        aliases:
          - shard1-replica0
    environment:
      - REPSET_NAME=shard1
      - DO_INIT_REPSET=true
    expose:
      - "27017"

  shard1-replica1:
    container_name: shard1-replica1
    build:
      context: mongod
    command: mongod -f /etc/mongod.conf --shardsvr --replSet shard1
    volumes:
      - ./mongod/mongod.conf:/etc/mongod.conf
      - shard1-data-replica1:/data/db
    networks:
      internalnetwork:
        aliases:
          - shard1-replica1
    environment:
      - REPSET_NAME=shard1
    expose:
      - "27017"

#* MONGODB MONGOS ROUTERS
  mongos-router0:
    container_name: mongos-router0
    build:
      context: mongos
    command: mongos --port 27017 --bind_ip 0.0.0.0 --configdb "configdb/configdb-replica0:27017,configdb-replica1:27017"
    volumes:
      - mongos-router0-data:/data/db
    depends_on:
      - shard0-replica0
      - shard0-replica1
      - shard1-replica0
      - shard1-replica1
      - configdb-replica0
      - configdb-replica1
    networks:
      internalnetwork:
          aliases:
            - mongos-router0
      bridg2mongo:
    environment:
      - SHARD_LIST=shard0/shard0-replica0:27017,shard0-replica0:27017,shard0-replica0:27017;shard1/shard1-replica0:27017,shard1-replica0:27017,shard1-replica0:27017
    expose:
      - "27017"
    ports:
      - "27017:27017"  # Map the host workstation's port 27017 to the docker instance exposed port 27017 for 'direct' mongos access

  mongos-router1:
    container_name: mongos-router1
    build:
      context: mongos
    command: mongos --port 27017 --bind_ip 0.0.0.0 --configdb "configdb/configdb-replica0:27017,configdb-replica1:27017"
    volumes:
      - mongos-router1-data:/data/db
    networks:
      internalnetwork:
          aliases:
            - mongos-router1
      bridg2mongo:
    expose:
      - "27017"
    ports:
      - "27018:27017"  # Map the host workstation's port 27018 to the docker instance exposed port 27017 for 'direct' mongos access

networks:
  internalnetwork: {}
  bridg2mongo:
    driver: bridge

volumes:
  configdb-data-replica0:
  configdb-data-replica1:
  shard0-data-replica0:
  shard0-data-replica1:
  shard1-data-replica0:
  shard1-data-replica1:
  mongos-router0-data:
  mongos-router1-data: